#element_view > p {
    width: 300px;
    background-color: white;
    border-radius: 30px;
    margin: 7px;
}

#element_view {
    background-color: rgb(60, 131, 192);
    margin: 20px 0;
    padding: 20px calc((100% - 450px) / 2);
}

#element_view_symbol {
    font-size: 8em;
    margin: 0;
    font-weight: bold;
}

#element_view_en {
    font-size: 1.3em;
    font-weight: bold;
}

#element_view_jp {
    font-size: 1.3em;
    font-weight: bold;
}